---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
	"svg-icons"
;

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af5e02+0,ffbe02+17,ffb804+25,fdfdfd+100 */
  background: #af5e02; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb804 25%, #fdfdfd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffb804 25%,#fdfdfd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffb804 55%,#fdfdfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb804', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */



}

header.site-header {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af5e02+0,ffbe02+17,ffb804+25,fdfdfd+100 */
  background: #af5e02; /* Old browsers */
  background: -moz-linear-gradient(top,  #af5e02 0%, #ffbe02 35%, #ffb804 55%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #af5e02 0%,#ffbe02 35%,#ffb804 55%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #af5e02 0%,#ffbe02 55%,#ffb804 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af5e02', endColorstr='#ffb804',GradientType=0 ); /* IE6-9 */



}

header.site-header {
  border-bottom: 0px;
}

header.site-header div.wrapper {
	height: 350px;
	background-image: url(/assets/site/beer-crop.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}
header.site-header div.wrapper a.site-title {
  padding-top: 150px;
}
header.site-header div.wrapper nav.site-nav {
  padding-top: 170px;
}
header.site-header div.wrapper div.site-description {
  padding: 10px;
  padding-top: 200px;
  font-size: 16pt;
}

div.post-content p a img {
    float: left;
    padding: 5px;
}

div.post-content p a.thumbnail {
    transition: 0.3s;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
