---
layout: page
title: Index
sitemap: false
---
{% assign categories = site.categories | sort %}

{% for category in categories %}
<a href="/category.html#{{ category[0] }}">{{ category[0] }}</a>
{% endfor %}

<div id="index">

{% for category in categories %}
<a name="{{ category[0] }}"><h2>{{ category[0] | replace:'-', ' ' }} ({{ category | last | size }}) </h2></a>
{% assign sorted_posts = site.posts | sort: 'title' %}
{% for post in sorted_posts %}
{%if post.categories contains category[0] and post.layout != 'beer' %}

  <p><a href="{{ site.url }}{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>

{%endif%}
{% endfor %}

{% endfor %}
</div>
