---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="beer-meta">
    <table class="tg">
      <tr>
        <td class="tg-9hbo">Beer:</td>
        <td class="tg-yw4l">{{ page.beer-name }}</td>
      </tr>
      <tr>
        <td class="tg-9hbo">Brewer:</td>
        <td class="tg-yw4l">{{ page.brewer-name }}
        </td>
      </tr>
      <tr>
        <td class="tg-9hbo">Website:</td>
        <td class="tg-yw4l">
          <a href="{{ page.beer-url }}">{{ page.beer-url }}</a>
        </td>
      </tr>
      {% if page.beer-style %}
      <tr>
        <td class="tg-9hbo">Style:</td>
        <td class="tg-yw4l">{{ page.beer-style }}</td>
      </tr>
      {% endif %}
      {% if page.abv %}
      <tr>
        <td class="tg-9hbo">ABV:</td>
        <td class="tg-yw4l">{{ page.abv }}</td>
      </tr>
      {% endif %}
    </table>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
